<div class="row">
<br><br>

<!-- End Header and Nav -->

    <div class="row">
        <div class="large-12 columns">
            <hgroup class="large-9 columns">
                <h1>Grandma's Pizza</h1>
                <h3 class="tagline">Yummy pizza at the best pizza place! You will love it...! </h3>
            </hgroup>

            <div class="large-3 columns text-right">
                <label class="label round success">Call Us: 408-234-2346</label>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="large-12 columns">
            <div class="large-4 columns panel text-center group" style="min-height: 440px">
                <div class="row ">
                    <h2>Pepperoni</h2>
                    <%=image_tag("home/1.jpg") %>

                    <p class="text-left" style="margin-left: 1em;">Pepperoni is characteristically soft, slightly smoky, and bright red in color.Thinly sliced
                        pepperoni is
                        a popular pizza topping in American-style pizzerias.</p>
                </div>
            </div>

            <div class="large-4 columns panel text-center group" style="min-height: 440px">
                <div class="row">
                    <h2>Vegetarian</h2>
                  <%=image_tag("home/2.jpg") %>

                    <p class="text-left" style="margin-left: 1em;">Topped with marinated organic mushrooms, roasted red peppers, sweet onions and marinated
                        artichoke
                        hearts. Non-dairy/no cholesterol..</p>
                </div>
            </div>

            <div class="large-4 columns panel text-center group" style="min-height: 440px">
                <div class="row">
                    <h2>Combo</h2>
                  <%=image_tag("home/4.jpg") %>

                    <p class="text-left" style="margin-left: 1.5em;">Combo is whatever you want on it...like Pepperoni, Meatballs and Extra Cheese... .</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="large-4 columns">
                <ul class="pricing-table">
                    <li class="title">Pepperoni</li>
                    <li class="price">$8.99</li>
                    <li class="description">An awesome Pizza</li>
                        <li class="bullet-item">Small</strong> $8.99</li>
                    <li class="bullet-item">Medium</strong> $9.99</li>
                    <li class="bullet-item">Large</strong> $10.99</li>
                    <li class="cta-button"><a class="button" href="../order">Order Now</a></li>
                </ul>
            </div>

            <div class="large-4 columns">
                <ul class="pricing-table">
                    <li class="title">Vegetarian</li>
                    <li class="price">$9.99</li>
                    <li class="description"> Delicious Pizza</li>
                    <li class="bullet-item">Small</strong> $9.99</li>
                    <li class="bullet-item">Medium</strong> $10.99</li>
                    <li class="bullet-item">Large</strong> $11.99</li>
                    <li class="cta-button"><a class="button" href="../order">Order Now</a></li>
                </ul>
            </div>

            <div class="plan large-4 columns">
                <ul class="pricing-table">
                    <li class="title">Combo</li>
                    <li class="price">$10.99</li>
                    <li class="description"> Delicious Pizza</li>
                    <li class="bullet-item">Small</strong> $10.99</li>
                    <li class="bullet-item">Medium</strong> $11.99</li>
                    <li class="bullet-item">Large</strong> $12.99</li>
                    <li class="cta-button"><a class="button" href="../order">Order Now</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>