<footer>
    <div class="row">
        <div class="large-4 columns">
            <h4>Grandma's Pizza</h4>

            <p> We have speciality for making different variety of pizzas, we offer Pepperoni, all type of
                vegetarian
                and also combo options available. You can also add any kind of toppings you want. In combo we give
                options to customer to add extra cheese. </p>
        </div>
        <div class="large-4 columns">
            <h4>Coupon</h4>
            <%=image_tag("home/6.png", width:"200") %>
        </div>

        <div class="large-4 columns">
            <h4>Like us here</h4>
            <div id="social">
                <a href="http://www.facebook.com/vintimahi" class="s3d facebook" target="_blank">
                    <i class="fi-social-facebook"></i>&nbsp; Facebook
                </a>
            </div>
        </div>
    </div>
  <br>
      <hr>
      <div class="row">
          <div class="large-12 columns text-right">
              <span class="copyright">
              &copy; Copyright 2013 - All Rights Reserved
              </span>
          </div>
      </div>
</footer>