<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <a href="..">
              <%=image_tag("logo.png", style:"position: fixed; z-index: auto") %>
            </a>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li><br>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="right" id="nav_custom">
            <li><a class="active" href="..">Home</a></li>
            <li><a href="../about">About Us</a></li>
            <li><a href="../contact">Contact Us</a></li>
            <li><a href="../catalog">Menu</a></li>
            <li><a href="../order">Order Now</a></li>
            <li><a href="../cart">Shopping Cart</a></li>
        </ul>

    </section>
</nav>
<br><br><br><br>